<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartCarControler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A958A6091DADF0D30079F784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A958A61D1DADF0D30079F784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A958A6281DADF0D30079F784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
